.sconf_temp/
.sconsign.dblite
config.log
debian/.debhelper/
debian/debhelper-build-stamp
debian/files
debian/*.debhelper.log
debian/*.substvars
debian/galsim-dev/
debian/galsim/
debian/galsim0/
debian/python-galsim/
debian/tmp/
gs_scons.conf
