Source: galsim
Section: science
Priority: optional
Maintainer: Gijs Molenaar (launchpad ppa build key) <gijs@pythonic.nl>
Build-Depends:
 debhelper (>= 9.0.0),
 dh-python,
 scons,
 tmv-dev,
 libfftw3-dev,
 libatlas-base-dev,
 libboost-dev,
 libboost-python-dev,
 libpython-dev,
 python,
 python2.7-dev,
 python-numpy,
 python-astropy,
 python-future,
 python-yaml,
 python-pandas,
 python-future
Standards-Version: 3.9.7
Homepage: https://github.com/GalSim-developers/GalSim
X-Python-Version: >= 2.7

Package: galsim-dev
Section: libdevel
Architecture: any
Depends: libgalsim1.5 (= ${binary:Version}), ${misc:Depends}, ${python:Depends}
Description: simulating images of astronomical objects
 GalSim is open-source software for simulating images of astronomical objects
 (stars, galaxies) in a variety of ways. The bulk of the calculations are
 carried out in C++, and the user interface is in python. In addition, the
 code can operate directly on "config" files, for those users who prefer not
 to work in python

Package: libgalsim1.5
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Replaces: galsim0
Description: simulating images of astronomical objects
 GalSim is open-source software for simulating images of astronomical objects
 (stars, galaxies) in a variety of ways. The bulk of the calculations are
 carried out in C++, and the user interface is in python. In addition, the
 code can operate directly on "config" files, for those users who prefer not
 to work in python.

Package: python-galsim
Architecture: any
Section: python
Depends:
 ${python:Depends},
 ${misc:Depends},
 ${shlibs:Depends},
 python-future, 
 python-yaml,
 python-pyfits,
Description: simulating images of astronomical objects
 GalSim is open-source software for simulating images of astronomical objects
 (stars, galaxies) in a variety of ways. The bulk of the calculations are
 carried out in C++, and the user interface is in python. In addition, the
 code can operate directly on "config" files, for those users who prefer not
 to work in python.

Package: galsim
Architecture: any
Depends: ${python:Depends}, ${shlibs:Depends}, ${misc:Depends}, python-galsim,
 libgalsim1.5 (= ${binary:Version})
Description: simulating images of astronomical object
 GalSim is open-source software for simulating images of astronomical objects
 (stars, galaxies) in a variety of ways. The bulk of the calculations are
 carried out in C++, and the user interface is in python. In addition, the
 code can operate directly on "config" files, for those users who prefer not
 to work in python.


