#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1
SCONS=scons
DEB_DESTDIR=$(CURDIR)/debian/tmp
PYPREFIX=$(DEB_DESTDIR)/usr/lib/python2.7/dist-packages

%:
	dh $@ --with python2

override_dh_auto_clean:
	dh_auto_clean
	$(SCONS) -c

override_dh_auto_configure:
	$(SCONS) PREFIX=$(DEB_DESTDIR)/usr TMV_DIR=/usr TMV_LINK=/usr/share/tmv/tmv-link PYPREFIX=$(PYPREFIX)

override_dh_auto_install:
	$(SCONS) install PREFIX=$(DEB_DESTDIR)/usr TMV_DIR=/usr PYPREFIX=$(PYPREFIX)
	gzip -d debian/tmp/usr/share/galsim/WFIRST-AFTA_Pupil_Mask_C5_20141010_PLT.fits.gz
	gzip -d debian/tmp/usr/share/galsim/wfc_F814W.dat.gz

override_dh_python2:
	dh_python2
	dh_numpy
